#checklists-wrap {
  position: relative;
  max-width: 600px;
  background: #FFF;
  color: #000;
  border-right: 210px solid #666666; }
  #checklists-wrap #checklists-nav {
    float: right;
    width: 200px;
    padding: 0px;
    margin: 10px -200px 10px 0px;
    color: white; }
    #checklists-wrap #checklists-nav li {
      margin: 0px 0px 10px 0px;
      padding: 1ex 1ex 1ex 10px;
      font-size: 16px;
      box-sizing: border-box;
      width: 100%;
      text-align: left;
      height: auto;
      cursor: pointer;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; }
      #checklists-wrap #checklists-nav li:hover {
        background: #888888; }
      #checklists-wrap #checklists-nav li.selected {
        background: white;
        color: black; }
    #checklists-wrap #checklists-nav[data-active="new"] ~ #checklists-instances {
      display: none; }
  #checklists-wrap #checklists-detail {
    padding: 10px; }
    #checklists-wrap #checklists-detail input {
      padding: 1ex;
      border: none;
      box-shadow: none;
      background: transparent; }
      #checklists-wrap #checklists-detail input:hover, #checklists-wrap #checklists-detail input:focus {
        background: #aaaaaa; }
    #checklists-wrap #checklists-detail button {
      margin-top: 2ex; }
      #checklists-wrap #checklists-detail button#viewInstances {
        float: right; }
    #checklists-wrap #checklists-detail h1 {
      margin: 0px;
      padding: 0px; }
      #checklists-wrap #checklists-detail h1 input {
        padding-top: .5em;
        padding-bottom: .5em;
        font-size: 30px; }
    #checklists-wrap #checklists-detail ul, #checklists-wrap #checklists-detail li {
      margin: 0px;
      padding: 0px; }
    #checklists-wrap #checklists-detail li {
      list-style-type: square;
      list-style-position: inside;
      margin: -1ex 0ex -1ex 2ex; }
      #checklists-wrap #checklists-detail li[draggable] {
        cursor: move; }
      #checklists-wrap #checklists-detail li input {
        font-size: 16px; }
    #checklists-wrap #checklists-detail:empty + #checklists-instances {
      display: none; }
  #checklists-wrap #checklists-instances {
    padding: 10px; }
    #checklists-wrap #checklists-instances table {
      border-spacing: 0px;
      border-collapse: collapse;
      min-width: 75%; }
      #checklists-wrap #checklists-instances table tr.instance .dashicons {
        visibility: hidden;
        cursor: pointer; }
      #checklists-wrap #checklists-instances table tr.instance:hover .dashicons {
        visibility: visible; }
      #checklists-wrap #checklists-instances table td {
        padding-right: 10px; }

.cl-cf:before, #checklists-wrap:before, .cl-cf:after, #checklists-wrap:after {
  content: " ";
  display: table; }
.cl-cf:after, #checklists-wrap:after {
  clear: both; }
