$black: #000;
$darkgray: #666;
$lightgray: #888;
$eggshell: #AAA;
$white: #FFF;
$default_margin: 10px;

#checklists-wrap {
	position: relative;
	max-width: 600px;
	background: #FFF;
	color: #000;
	border-right: 210px solid $darkgray;

	@extend .cl-cf;

	#checklists-nav {
		float: right;
		width: 200px;
		padding: 0px;
		margin: 10px -200px 10px 0px;
		color: $white;

		li {
			margin: 0px 0px $default_margin 0px;
			padding: 1ex 1ex 1ex $default_margin;
			font-size: 16px;
			box-sizing: border-box;
			width: 100%;
			text-align: left;
			height: auto;
			cursor: pointer;
			border-top-right-radius: $default_margin;
			border-bottom-right-radius: $default_margin;

			&:hover {
				background: $lightgray;
			}
			&.selected {
				background: $white;
				color: $black;
			}
		}

		&[data-active="new"] ~ #checklists-instances {
			display: none;
		}
	}

	#checklists-detail {
		padding: $default_margin;

		input {
			padding: 1ex;
			border: none;
			box-shadow: none;
			background: transparent;
			&:hover, &:focus {
				background: $eggshell;
			}
		}

		button {
			margin-top: 2ex;
			&.viewInstances {
				float: right;
			}
		}

		h1 {
			margin: 0px;
			padding: 0px;
			input {
				padding-top: .5em;
				padding-bottom: .5em;
				font-size: 30px;
			}
		}

		ul, li {
			margin: 0px;
			padding: 0px;
		}
		li {
			list-style-type: square;
			list-style-position: inside;
			margin: -1ex 0ex -1ex 2ex;
			&[draggable] {
				cursor: move;
			}
			input {
				font-size: 16px;
			}
		}

		&:empty + #checklists-instances {
			display: none;
		}
	}

	#checklists-instances {
		padding: 10px;

		table {
			border-spacing: 0px;
			border-collapse: collapse;
			min-width: 75%;
			tr.instance {
				.dashicons {
					visibility: hidden;
					cursor: pointer;
				}
				&:hover .dashicons {
					visibility: visible;
				}
			}
			td {
				padding-right: 10px;
			}
		}
	}

}

.cl-cf {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
